@charset "UTF-8";

/* Todas as demais midias */

/* 

Typical Devices Breakpoints 

Pequenas telas: até 576px
Celular: 576px
Tablet: 768px
Desktop: 992px
Grandes Telas: 1200px

*/
@media print{ /* Impressão */

    * {
        font-family: 'Courier New', Courier, monospace;
    }

    body{
        background: url(../imagens/back-print.jpg); /* desnecessário, pois ele não imprime imagem de fundo */        
    }

    main{
        width: 90vw;
        border: 2px solid black;
    }

    main::after{
        content: 'Essa impressão foi feita através do site www.cursoemvideo.com';
        text-decoration: overline;        
    }

    main h1{
        text-shadow: none;
        color: black;
    }

    img#phone{ display: none; }
    img#tablet{ display: none; }
    img#print{ display: block; }
    img#pc{ display: none; }
    img#tv{ display: none; }
}

@media screen and (min-width: 768px) and (max-width: 992px){ /* Tablet */

    body{
        background: black url(../imagens/back-tablet.jpg) no-repeat;
    }

    img#phone{ display: none; }
    img#tablet{ display: block; }
    img#print{ display: none; }
    img#pc{ display: none; }
    img#tv{ display: none; }
}

@media screen and (min-width: 992px) and (max-width: 1200px){ /* Desktop */
    
    body{
        background: black url(../imagens/back-pc.jpg) no-repeat;
    }

    img#phone{ display: none; }
    img#tablet{ display: none; }
    img#print{ display: none; }
    img#pc{ display: block; }
    img#tv{ display: none; }
}

@media screen and (min-width: 1200px){ /* Grandes Telas */
    body{
        background: black url(../imagens/back-tv.jpg) no-repeat;
    }

    img#phone{ display: none; }
    img#tablet{ display: none; }
    img#print{ display: none; }
    img#pc{ display: none; }
    img#tv{ display: block; }
}